@import '@picocss/pico/scss/pico';

$include-column-box-sizing: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/lists';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid';
@import 'bootstrap/scss/mixins/utilities';
@import 'bootstrap/scss/vendor/rfs';
@import 'bootstrap/scss/grid';

:root {
  --scrollbar-border-radius: 10px;
  --scrollbar-thumb-background: rgb(7, 0, 11);
  --scrollbar-thumb-background: var(--h6-color);
  --scrollbar-thumb-background-hover: var(--primary);
  --scrollbar-track-background: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-hover);
}
