.cart-indicator {
  position: relative;
  color: inherit;
}

.cart-indicator.not-empty::before {
  border-radius: 50%;
  content: '';
  height: 10px;
  right: 20%;
  position: absolute;
  width: 10px;
  box-shadow: 0px 2px 3px rgb(13, 13, 13, 0.8);
}

.cart-indicator.not-empty::before {
  background-color: rgba(255, 44, 36, 0.8);
}

.cart .product-row-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .product-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .product-row .cover {
  display: flex;
  flex-direction: column;
}

/*
.cart .product-row .cover img {
  width: 100px;
  height: 100px;
}*/
