.product-tab {
  --border-radius: 20px;

  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: end;
  padding: 0;
  border-radius: var(--border-radius);
}

.product-tab > .cover-img {
  flex-grow: 1;
  align-self: start;
  height: 150px;
  width: 100%;
  background-image: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
}

.product-tab > .cover-img .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.product-tab > .cover-img .cover a {
  --border-radius: 0;

  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.product-tab > .cover-img:hover .cover {
  opacity: 1;
}

.product-tab > .content {
  width: 100%;
  padding-top: 0;
  padding-left: var(--block-spacing-horizontal);
  padding-right: var(--block-spacing-horizontal);
  padding-bottom: var(--block-spacing-vertical);
}

.product-tab > .content > .details {
  margin-top: calc(var(--typography-spacing-vertical));
  margin-bottom: calc(var(--typography-spacing-vertical));
}

.product-tab > .content > .call-to-action {
  display: flex;
  justify-content: space-between;
}

.product-tab > .content > .call-to-action a {
  --background-color: transparent;
  --text-decoration: none;
}

.product-tab > .content > .call-to-action > .favourite-marker {
  color: rgb(0, 0, 0);
}

.product-tab > .content > .call-to-action > .favourite-marker.marked {
  color: rgb(155, 31, 33);
}

.product-tab > .content > .call-to-action > .add-to-cart:hover {
  text-decoration: none;
}

.product-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: calc(var(--block-spacing-horizontal) * 3);
  padding-right: calc(var(--block-spacing-horizontal) * 3);
  transform: scale(90%);
}

.product-title {
  text-align: center;
}

.product-price {
  text-align: center;
}

.product-btns {
  display: flex;
  justify-content: center;
  column-gap: var(--block-spacing-horizontal);
}

.no-products-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-products-found a {
  --text-decoration: none;
}

.no-products-found .icon {
  font-size: 50px;
}

.products-carousel-container {
  padding-left: 0;
  padding-right: 0;
}

.products-carousel-container .products-carousel-heading {
  margin-left: var(--block-spacing-horizontal);
  margin-right: var(--block-spacing-horizontal);
}

.products-carousel-wrapper {
  position: relative;
  overflow-x: hidden;
}

.products-carousel-wrapper .products-carousel-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.products-carousel-wrapper .products-carousel-nav-btn.nav-left {
  left: 0;
}

.products-carousel-wrapper .products-carousel-nav-btn.nav-right {
  right: 0;
}

.products-carousel {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.products-carousel .swiper-slide {
  flex-shrink: 1 !important;
}

.products-carousel .swiper-wrapper {
  margin-left: 50px;
  overflow: hidden;
}

.products-carousel .swiper-wrapper {
  column-gap: 50px;
}

.products-carousel .product-tab {
  width: 300px;
}
