.sidebar {
  --scrollbar-border-radius: 10px;
  --scrollbar-thumb-background: rgb(7, 0, 11);
  --scrollbar-thumb-background: var(--h6-color);
  --scrollbar-thumb-background-hover: var(--primary);
  --scrollbar-track-background: rgb(255, 255, 255);

  top: calc(var(--typography-spacing-vertical));
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
  border-radius: var(--scrollbar-border-radius);
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: var(--scrollbar-border-radius);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-hover);
}
